//Bootstrap Breakpoints
$mobile-xs: "max-width:350.98px";
$mobile-sm: "max-width:475.98px";
$mobile: "max-width:575.98px";
$small: "(min-width:576px) and (max-width:767.98px)";
$upto-small: "max-width:767.98px";
$medium: "(min-width:768px) and (max-width:991.98px)";
$upto-medium: "max-width:991.98px";
$medium-onwards:"min-width:768px";
$large: "(min-width:992px) and (max-width:1199.98px)";
$upto-large: "max-width:1199.98px";
$large-onwards: "min-width:992px";
$xl: "min-width:1200px";
$xxl: "min-width:1440px";
$xxxl: "min-width:1500px";
$desktop-xxxl: "min-width:1800px";